<div class="header">
    <a href="/"><div class="logo"><img style="width:200px;" src="/static/img/logo.png"></div></a>
    <ul class="main_menu">
        <li><a href="/">Головне меню</a></li>
        <li>
            <a href="/new_game/">Нова гра</a>
            <!-- <ul>
                <li><a href="">Програма</a></li>
                <li><a href="">Сертифікати</a></li>
                <li><a href="">Система накопичення балів</a></li>
            </ul> -->
        </li>
    </ul>
        <div class="wrap_login">
            {% if user.is_authenticated %}
            	<a class="lict_room">{{ user.username }}</a>
            	<a href="/logout/" class="log_out">Вийти</a>
            {% else %}
                <a href="/registration/" class="lict_room">Реєстрація</a>
            	<a href="/login/" class="lict_room">Ввійти</a>
            {% endif %}
        </div>
</div>